<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.rahul_zoldyck.MangaWolf" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/wolf"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".OpenerActivity"
            android:label="@string/app_name" >
        </activity>

        <receiver android:name=".AutoStart" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MangaInfo"
            android:label="@string/title_activity_manga_info" >
        </activity>
        <activity
            android:name=".ChapterList"
            android:label="@string/title_activity_chapter_list" >
        </activity>
        <activity
            android:name=".MangaPages"
            android:label="@string/title_activity_manga_pages" >
        </activity>

        <service
            android:name=".DownloadService"
            android:exported="false" >
        </service>
        <service
            android:name=".CleanerService"
            android:exported="false" >
        </service>
        <service
            android:name=".UpdateService"
            android:exported="false" >
        </service>

        <activity
            android:name=".Interneterror"
            android:label="@string/title_activity_interneterror" >
        </activity>

        <receiver android:name=".MangaWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/manga_widget_info" />
        </receiver>

        <activity android:name=".MangaWidgetConfigureActivity" >`
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Alarm"
            android:process=":remote" >
        </receiver>

        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
